
body {
    background-color: lightblue;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    text-align: center;
    font-size: 20px;
}

#title {
    width: 300px;
}

#content {
    width: 300px;
}

h2 {
    font-family: verdana;
    text-align: center;
    font-size: 20px;
}

.center-block{
    display: block;
    margin: auto;
}
.container {
    display: flex;
    justify-content: center; 
    align-items: center;
  }



#AddBtn {
    font-size: 20px;
    margin: 0 auto;
    width: 300px;
    
}
